NODE_RED/flows (1).json
[{"id":"8102faea.bec1b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"udp-out","type":"udp out","z":"8102faea.bec1b","name":"Send to Servo","addr":"127.0.0.1","iface":"","port":"3556","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":840,"y":480,"wires":[]},{"id":"e0ec54f.a514da8","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":5,"width":0,"height":0,"passthru":false,"label":"Open Servo1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"openservo1","payloadType":"str","topic":"","topicType":"str","x":150,"y":160,"wires":[["udp-out"]]},{"id":"3bb47de1.ad05ba","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":10,"width":0,"height":0,"passthru":false,"label":"Close Servo1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"closeservo1","payloadType":"str","topic":"","topicType":"str","x":160,"y":220,"wires":[["udp-out"]]},{"id":"b6064d0a.0d84a","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":6,"width":0,"height":0,"passthru":false,"label":"Open Servo2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"openservo2","payloadType":"str","topic":"","topicType":"str","x":150,"y":300,"wires":[["udp-out"]]},{"id":"4ec5e5ae.21348c","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":11,"width":0,"height":0,"passthru":false,"label":"Close Servo2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"closeservo2","payloadType":"str","topic":"","topicType":"str","x":160,"y":360,"wires":[["udp-out"]]},{"id":"360ea59e.64d3ea","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":7,"width":0,"height":0,"passthru":false,"label":"Open Servo3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"openservo3","payloadType":"str","topic":"","topicType":"str","x":150,"y":440,"wires":[["udp-out"]]},{"id":"2da172ab.a67c6e","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":12,"width":0,"height":0,"passthru":false,"label":"Close Servo3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"closeservo3","payloadType":"str","topic":"","topicType":"str","x":160,"y":500,"wires":[["udp-out"]]},{"id":"e12531f5.34b108","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":8,"width":0,"height":0,"passthru":false,"label":"Open Servo4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"openservo4","payloadType":"str","topic":"","topicType":"str","x":150,"y":580,"wires":[["udp-out"]]},{"id":"43baf92.7ad9b88","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":13,"width":0,"height":0,"passthru":false,"label":"Close Servo4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"closeservo4","payloadType":"str","topic":"","topicType":"str","x":160,"y":640,"wires":[["udp-out"]]},{"id":"509716ab.8ce95","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":9,"width":0,"height":0,"passthru":false,"label":"Open All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"allopen","payloadType":"str","topic":"","topicType":"str","x":140,"y":720,"wires":[["udp-out"]]},{"id":"c22bcbb2.63e6b","type":"ui_button","z":"8102faea.bec1b","name":"","group":"dashboard-group","order":14,"width":0,"height":0,"passthru":false,"label":"Close all","tooltip":"","color":"","bgcolor":"","icon":"","payload":"allclose","payloadType":"str","topic":"","topicType":"str","x":140,"y":780,"wires":[["udp-out"]]},{"id":"299a444.943723c","type":"ui_text_input","z":"8102faea.bec1b","name":"Degree","label":"Type \"degree: #\"","tooltip":"","group":"dashboard-group","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5000","topic":"topic","topicType":"msg","x":140,"y":40,"wires":[["udp-out"]]},{"id":"9661ad78.b89fd8","type":"ui_text_input","z":"8102faea.bec1b","name":"Distance","label":"Type\"distance: #\"","tooltip":"","group":"dashboard-group","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5000","topic":"topic","topicType":"msg","x":140,"y":100,"wires":[["udp-out"]]},{"id":"dashboard-group","type":"ui_group","name":"Door Control","tab":"dashboard-tab","order":1,"disp":true,"width":"6","collapse":false},{"id":"dashboard-tab","type":"ui_tab","name":"Servo Dashboard","icon":"dashboard","order":1}]